<div class="c0f9469c9 c14469a14 cdbbe76ae">
  <input class="c73b16d95 c5d6d58d6" id="accept_tnc" name="accept_tnc" type="checkbox" value="{{value}}" {{#if required}}required{{/if}} />

  <label class="cebdddf58 c9d9dc43a" for="accept_tnc">
    <span class="cf65953dc c1728f1a3">{{> @partial-block }}</span>
  </label>
</div>
