<textarea style="width: 320px; height: 250px; overflow-y: scroll;">{{content}}</textarea>

<div class="c27fbdf34">
  <button name="close" class="cdc162597 c9ade4631 c013e8be5 c1460af88 cf69aa3a7" onclick="window.close();">Close</button>
</div>
